@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Comfortaa:wght@400;700&family=Staatliches&family=Ubuntu&display=swap');

body{
	font-family: 'Comfortaa';
	margin: 0;
}
header{
	background-image: url(images/header-background.png);
	background-size: cover;
}
nav{
	background-image: url(images/nav-background.png);
	padding: 6px 25px 1px 0px;
	font-weight: 900;
	font-size: 20px;
}
main{
	text-align: justify;
}
footer{
	background-image: url(images/footer-background.png);
	background-size: cover;
	text-align: center;
	padding: 20px 100px 10px 100px;
	margin-top: -20px;
	font-size: 12px;
	border-top: 4px solid #c11e00;
	color: white;
}
.p-footer{
	max-width: 300px;
	margin: 0 auto;
	display: block;
	text-align: justify;
}


/* ------------- LINKS ------------- START */
a:link{
	color: #c11e00;
	font-weight: bold;
}
a:visited{
	color: #c11e00;
	font-weight: bold;
}
a:hover{
	color: black;
	font-weight: bold;
}
a:active{
	color: grey;
	font-weight: bold;
}
.h2-white a:link{
	color: white;
}
.h2-white a:visited{
	color: white;
}
.h2-white a:hover{
	color: #c11e00;
}
.h2-white a:active{
	color: black;
}
.h2-black a:link{
	color: black;
}
.h2-black a:visited{
	color: black;
}
.h2-black a:hover{
	color: #c11e00;
}
.h2-black a:active{
	color: grey;
}
/* ------------- LINKS ------------- END */


/* ------------- Vertical Navigation Bar -------- START */
nav ul{
	list-style-type: none;
	text-align: center;
	padding-top: 10px;
}
nav li{
	display: inline;
}
nav a{
	text-decoration: none;
	padding-right: 20px;
}
nav a:link{
	color: white;
}
nav a:visited{
	color: white;
}
nav a:hover{
	color: grey;
}
nav a:active{
	color: black;
}
/* ------------- Vertical Navigation Bar -------- END */


/* ------------ Layout of Sections ------------ START */
/* -- General -- START */
h1{
	font-family: 'Comfortaa';
	letter-spacing: 1px;
	font-size: 3em;
	text-align: center;
	font-weight: bold;
}
h2{
	font-family: 'Comfortaa';
	letter-spacing: 1px;
	text-align: center;
	font-weight: bold;
}
h4{
	font-family: 'Comfortaa';
	text-align: center;
	font-weight: bold;
}
.h4-footer{
	font-family: 'Comfortaa';
	text-align: center;
	font-size: 17px;
	color: red;
}
.section-title-red{
	background-image: url(images/section-title-red.png);
	background-size: cover;
	background-position: center;
	color: white;
	padding: 10px 0px 2px 0px;
	border-bottom: 4px solid black;
}
.p-justify{
	text-align: justify;
}
.p-title{
	font-weight: bold;
}
.p-red-bold{
	color: #c11e00;
	font-weight: bold;
	letter-spacing: 1px;
}
.p-justify-margin-top{
	text-align: justify;
	margin-top: 20px;
}
.p-700px{
	max-width: 700px;
	margin: 0 auto;
}
/* -- General -- END */

/* -- Home -- START */
.p-home-section-2{
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}
.p-home-section-3{
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.p-home-section-4{
	max-width: 650px;
	margin: 0 auto;
	text-align: center;
}
.home-build-container-fluid-1{
	max-width: 900px;
	margin: 0 auto;
}
.p-home-section-5{
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}
.home-tips-and-tricks-container-fluid-1{
	max-width: 800px;
	margin: 0 auto;
}
.home-tips-and-tricks-container-fluid-2{
	max-width: 800px;
	margin: 0 auto;
}
.p-home-section-6{
	max-width: 700px;
	margin: 0 auto;
	text-align: center;
}
/* -- Home -- END */

/* -- Ideas -- START */
.p-ideas-section-2{
	max-width: 700px;
	margin: 0 auto;
	text-align: justify;
}
/* -- Ideas -- END */

/* -- Builds -- START */
.builds-section-1-container-fluid-1{
	max-width: 900px;
	margin: 0 auto;
}
.builds-section-1-container-fluid-2{
	max-width: 900px;
	margin: 0 auto;
}
/* -- Builds -- END */

/* -- News -- START */
.news-image{
	margin: 0 auto;
	display: block;
	max-height: 300px;
	margin: 5px;
	border: 2px solid white;
}
.news-codes-container-fluid-1{
	max-width: 700px;
	margin: 0 auto;
}
/* -- News -- END */
/* ------------ Layout of Sections ------------ END */


/* ------------- LOGO ------------- START */
.logo-desktop{
margin: 0 auto;
display: block;
}
.logo-footer{
	margin: 0 auto;
	display: block;
}
/* ------------- LOGO ------------- END*/


/* ------------- ICONS ------------- START */
.fa-envelope-o{
	font-size: 2em;
}
.fa-gamepad{
	font-size: 2em;
}
.fa-steam-square{
	font-size: 2em;
}
/* ------------- ICONS ------------- END */


/* ------------- IMAGES ------------- START */
.dbd-icon{
	margin: 0 auto;
	display: block;
	max-height: 200px;
}
.perk-template-icon{
	margin: 0 auto;
	display: block;
	max-height: 150px;
}
.game-hours-icon{
	margin: 0 auto;
	display: block;
	max-height: 150px;
}
.rank-survivor-icon{
	margin: 0 auto;
	display: block;
	max-height: 150px;
}
.rank-killer-icon{
	margin: 0 auto;
	display: block;
	max-height: 150px;
}
.steam-profile-icon{
	margin: 0 auto;
	display: block;
	max-height: 150px;
}
.latest-news-1{
	margin: 0 auto;
	display: block;
	max-height: 300px;
	margin: 5px;
	border: 2px solid white;
}
.latest-news-2{
	margin: 0 auto;
	display: block;
	max-height: 300px;
	margin: 5px;
	border: 2px solid white;
}
.ideas-image{
	margin: 0 auto;
	display: block;
	max-height: 250px;
}
.new-killer-predator{
	margin: 0 auto;
	display: block;
	max-height: 500px;
	border: 2px solid white;
}
.predator-ability-1{
	margin: 0 auto;
	display: block;
	max-height: 150px;
}
.predator-ability-2{
	margin: 0 auto;
	display: block;
	max-height: 150px;
}
.predator-perk-1{
	margin: 0 auto;
	display: block;
	max-height: 130px;
}
/* ------------- IMAGES ------------- START */


/* ------------- Bootstrap Colums ------------- START */
.col-sm-4{
	text-align: center;
}
.col-sm-6{
	text-align: center;
}
.col-sm-2{
	text-align: center;
}
.col-sm-12{
	text-align: center;
}
/* ------------- Bootstrap Colums ------------- END */


/* ------------- Table ------------- START */
table{
	text-align: center;
	border-collapse: collapse;
	width: 900px;
}
td, th{
	border: 2px solid black;
	padding: 8px 12px 8px 12px;
}
th{
	font-weight: bold;
	font-size: 1.3em;
	background-color: #c11e00;
	color: white;
}
/* ------------- Table ------------- END */


/* ------------- Multimedia ------------- START */
.video-container{
    overflow: hidden;
    position: relative;
    width:100%;
    height: 450px;
}

.video-container::after{
	padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ------------- Multimedia ------------- END */


/* ------------- HOME PAGE ------------- START */
.home-page-1{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.home-background-1{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
.home-page-2{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.home-background-2{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
	color: white;
}
.home-page-3{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.home-background-3{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
.home-page-4{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.home-background-4{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	color: white;
	border-bottom: 4px solid #c11e00;
}
.home-page-5{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.home-background-5{
	background-image: url(images/tips-and-tricks-background.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
.home-page-6{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.home-background-6{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	color: white;
}
/* ------------- HOME PAGE ------------- END */


/* ------------- NEWS PAGE ------------- START */
.news-page-1{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.news-background-1{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
}
.news-page-2{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.news-background-2{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
	color: white;
}
.news-page-3{
	max-width: 800px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.news-background-3{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
.news-page-4{
	max-width: 800px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.news-background-4{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	color: white;
	border-bottom: 4px solid #c11e00;
}
.news-page-5{
	max-width: 800px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.news-background-5{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
.news-page-6{
	max-width: 800px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.news-background-6{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	color: white;
	border-bottom: 4px solid #c11e00;
}
.news-page-7{
	max-width: 800px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.news-background-7{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
/* ------------- NEWS PAGE ------------- END */


/* ------------- IDEAS PAGE ------------- START */
.ideas-page-1{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.ideas-background-1{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
}
.ideas-page-2{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.ideas-background-2{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
	color: white;
}
.ideas-page-3{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.ideas-background-3{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
}
.ideas-page-4{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.ideas-background-4{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	color: white;
	border-bottom: 4px solid #c11e00;
}
.ideas-page-5{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.ideas-background-5{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
/* ------------- IDEAS PAGE ------------- END */


/* ------------- BUILDS PAGE ------------- START */
.builds-page-1{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.builds-background-1{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
}
.builds-page-2{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.builds-background-2{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
	color: white;
}
.builds-page-3{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.builds-background-3{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
.builds-page-4{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.builds-background-4{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	color: white;
	border-bottom: 4px solid black;
}
.builds-page-5{
	max-width: 1100px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: justify;
	line-height: 25px;
}
.builds-background-5{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid #c11e00;
}
/* ------------- BUILDS PAGE ------------- END */


/* ------------- TIPS & TRICKS PAGE ------------- START */
.tips-and-tricks-page-1{
	max-width: 1000px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.tips-and-tricks-background-1{
	background-image: url(images/tips-and-tricks-page-background.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
}
.tips-and-tricks-page-2{
	max-width: 1000px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.tips-and-tricks-background-2{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
	color: white;
}
.tips-and-tricks-page-3{
	max-width: 1000px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.tips-and-tricks-background-3{
	background-image: url(images/home-background-1.png);
	background-size: cover;
	margin-top: -20px;
	border-bottom: 4px solid black;
}
.tips-and-tricks-page-4{
	max-width: 1000px;
	margin: 20px auto;
	padding: 0px 25px 0px 25px;
	text-align: center;
	line-height: 25px;
}
.tips-and-tricks-background-4{
	background-image: url(images/home-background-2.png);
	background-size: cover;
	margin-top: -20px;
	color: white;
	border-bottom: 4px solid #c11e00;
}
/* ------------- TIPS & TRICKS PAGE ------------- END */


/* -------- DO NOT DISPLAY if NOT MOBILE -------- START */
.perk-icon-template-mobile{
	display: none;
}
/* -------- DO NOT DISPLAY if NOT MOBILE -------- END */





/* ------------- CSS for Tablets ------------- START */
@media only screen and (max-width: 1024px){
}
/* ------------- CSS for Tablets ------------- END */





/* ------------- CSS for Smartphones ------------- START */
@media only screen and (max-width: 600px){
	h1{
		font-size: 1.5em;
	}
	.logo-desktop{
		max-width: 350px;
		max-height: 133px;
	}
	nav{
		font-size: 15px;
	}

	/* -- DISPLAY if MOBILE -- START */
	.perk-icon-template-mobile{
		display: block;
	}
	/* -- DISPLAY if MOBILE -- END */

	/* ----- Layout of Sections ----- START */
	/* -- General -- START */
	.p-justify-margin-top{
	margin-top: 0px;
	}
	/* -- General -- END */

	/* -- Home -- START */
	.home-background-5{
	background-image: url(images/tips-and-tricks-background-mobile.png);
	}
	.home-build-container-fluid-1{
		display: none;
	}
	/* -- Home -- END */

	/* -- Builds -- START */
	.builds-section-1-container-fluid-1{
		display: none;
	}
	/* -- Builds -- END */
	/* ----- Layout of Sections ----- START */
}
/* ------------- CSS for Smartphones ------------- END */
